.modal-info__mess {
  margin-top: 1.25rem;
  font-family: $second-font-regular;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: center;
  color: $black;
}

.modal-info__ok-button {
  margin-top: 1.25rem;
  text-align: center;
}
