mixin modal-info()
  // MODAL INFO
  .modal.fade.modal-info#modalInfo(tabindex="-1" aria-labelledby="modalInfoLabel" aria-hidden="true")
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header
          //- .modal-title Title
          //- +button-modal-close()
        .modal-body
          //- .modal-info__mess Text
          //- .modal-info__ok-button
          iframe.yaform(src="https://forms.yandex.ru/cloud/62b5d02b3baa65851059c16b/?iframe=1" frameborder="0" name="ya-form-62b5d02b3baa65851059c16b" width="650")


