//- include ./modal-login/modal-login
//- include ./modal-reg/modal-reg
//- include ./modal-recovery/modal-recovery
//- include ./modal-change/modal-change
include ./modal-info/modal-info
//- include ./modal-prize/modal-prize
//- include ./modal-confirm/modal-confirm
//- include ./modal-winners/modal-winners
//- include ./modal-hand/modal-hand
//- include ./modal-feedback/modal-feedback
//- include ./modal-faq/modal-faq
//- include ./modal-edit/modal-edit
//- include ./modal-win-data-1/modal-win-data-1
//- include ./modal-win-data-2/modal-win-data-2
//- include ./modal-end/modal-end